<div class='header'>

  <label>Server Name</label>
  <!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->
    
    <input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">
  
    <!-- <p>{{serverName}}</p> -->
<button 
  class='btn btn-primary'
  [disabled]="!allowClick" 
  (click)="onCreateServer()">Add Server
</button>


<p *ngIf="serverUpdated; else noServer">{{serverCreationStation}}</p>
<ng-template #noServer>
  <p>No server was updated</p>
</ng-template>
<p>{{allowClick}}</p>

</div>
