
.details {
  text-align: center;
  background-color: rgb(243, 198, 180);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  margin-bottom: 30px;
}

button {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.counter {
  background-color: rgb(240, 240, 175);
  color: blue;
  padding: 5px;
  margin: 2px auto 2px auto;
  border: 3px solid rgb(240, 142, 175);
}